.env

venv
__pycache__
*.pyc
.DS_Store
.env
node_modules
dist
build

.idea
.vscode
*.log
*.sqlite3
*.db
coverage
*.egg-info
.env.local
.env.example
.env.development
.env.production
.env.test
.env.*.local
npm-debug.log*
yarn-debug.log*

yarn-error.log*
pnpm-debug.log* 
